/* CSS declarations go here */
.drawport rect {
  fill: steelblue;
}

.drawport line {
    stroke: rgb(0,0,0);
}

.drawport text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.drawport svg {
  box-shadow: 0px 0px 15px 5px rgba(150,150,255, 1);
}